  <div class="col-md-3">
      
        <h2>User info</h2>
        <p>ここに画像表示</p>
         <table>
           <body>
            <tr>
              <th>name</th>
              <th></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th></th>
            </tr>
           </body>
         </table>
         
        <div class="row">
        <% if @user==current_user %>
        <!--ここボタン必要。仮でbotanのリンクで飛ぶようにしています。-->
         <%=link_to "botan",edit_user_path(@user) %>
        <% end %>
        </div>
        
         
        <h2>New book</h2>
         <%=form_with model:book do |f|%>
         <h6>Title</h6>
          <%=f.text_field:title %>
         <h6>Opinion</h6>
          <%=f.text_area:body %>
          <%=f.submit 'Create Book'%>
        <% end %>
      <!--ここまで-->
  </div>