<h1>book一覧</h1>

<div class="continer">
  <div class="row">
　　 <div class="col-m-8">
　　     <h2>Book detail</h2>
　　   <table class="table ">
　　     <tr>
　　       <th><%=image_tag @book.user.get_profile_image(100,100) %></th>
　　       <!--名前表示出てこない・・・？-->
　　       <% @book.user.name %>
　　       <th><%=link_to @book.title,book_path(@book.id) %></th>
　　       <th><%=@book.body %></th>
　　       <% if @book.user==current_user %>
　　       <th><%=link_to "Edit",edit_book_path(@book.id) %></th>
　　       <th><%=link_to "Destroy",book_path(@book.id),method: :delete %></th>
　　       <% end %>
　　    </tr>
　　   </table>
     </div>
  </div>
</div>
